/* ------------------------------
   Container
------------------------------- */
.container {
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    margin: 80px auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
